---
import type { Page } from 'astro'
import { type CollectionEntry } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import { MemoLayout } from '@components/MemoLayout/MemoLayout'
import { getReleaseThinkCollection } from '@collection/memo'
import { PaginationDefault } from '@components/Pagination/PaginationDefault'
import { Memo, MemoFooter } from '@components/Memo/MemoPrimitive'
import { MemoDate } from '@components/Memo/MemoDate'

type Props = {
  page: Page<CollectionEntry<'think'>>
}

export async function getStaticPaths({ paginate }) {
  const memoCollection = await getReleaseThinkCollection()

  return paginate(
    memoCollection.sort((a, b) => Number(a.id) - Number(b.id)).reverse(),
    {
      pageSize: 10,
    }
  )
}

export const prerender = true

const { page } = Astro.props

const PAGE_TITLE = `생각 ${page.currentPage}페이지 | eunsoolee`
const PAGE_DESCRIPTION = ''
---

<Layout title={PAGE_TITLE} description={PAGE_DESCRIPTION}>
  <MemoLayout>
    {
      page.data.map(async (think) => {
        return (
          <Memo>
            <a href={`/think/${think.id}`} class="block">
              <h2 class="font-bold text-base">{think.data.title}</h2>
              <p class="mt-4 text-sm">{think.data.summary}</p>
              <MemoFooter>
                <MemoDate ctime={think.data.ctime} mtime={think.data.mtime} />
              </MemoFooter>
            </a>
          </Memo>
        )
      })
    }
  </MemoLayout>

  <PaginationDefault {...page} />
</Layout>
